<h3>Thank you for taking the survey, <%= @name.capitalize %>. You are a <%= @output[0..-2] %>.</h3>

<div><img src="/images/<%= @image %>.jpg"/></div>

<h3>An email has been sent to <%= @email %> with your certificate.</h3>
