<h1>Welcome to My First Sinatra Application</h1>

<div><img src="/images/crapper.jpg" height="50%" width="50%"/></div>
<!-- This is an HTML comment -->
<%# This is an ERB comment %>
<% name = "Tam" %>
<%= name.capitalize.reverse %>
<% if 10 > 4 %>
  <p>Hello World</p>
<% else %>
  <p>Hello There</o>
<% end %>
